---
const about = [
  {
    myinfo: [
      {
        title1: "愿你看清一切真相后",
        title2: "依旧热爱你的",
        inlineword1: "家人和朋友",
        title3: "以及",
        inlineword2: "生活"
      }
    ]
  }
];
---

<div class="author-content-item myInfoAndSayHello" style="text-align: center; width: 100%">
  {about.map((item, index) => (
    <Fragment key={`about-${index}`}>
      {item.myinfo.map((info) => (
        <Fragment key={info.title1}>
          <div class="title1">
            {info.title1}
          </div>
          <div class="title2">
            {info.title2}
            <span class="inline-word">
              {info.inlineword1}
            </span>
          </div>
          <div class="title1">
            {info.title3}
            <span class="inline-word">
              {info.inlineword2}
            </span>
          </div>
        </Fragment>
      ))}
    </Fragment>
  ))}
</div>

<style scoped>
/* myInfoAndSayHello */
.myInfoAndSayHello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-color);
  background: linear-gradient(120deg, #5b27ff 0, #00d4ff 100%);
  background-size: 200%;
  min-height: 175px;
  border-radius: 12px;
  padding: 1rem 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.myInfoAndSayHello .title1 {
  opacity: .8;
  line-height: 1.3;
  font-size: 1rem;
}

.myInfoAndSayHello .title2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  margin: .5rem 0;
}

.inline-word {
  word-break: keep-all;
  white-space: nowrap;
}
</style>